{% extends "home/base.html" %}

{% block content %}
      <div class="row">

        <div class="col-lg-12">

          <div class="card mt-4">
            <img width="900" height="400" class="card-img-top img-fluid" src="{{MEDIA_URL}}{{product.image}}" alt="">
            <div class="card-body">
              <h3 class="card-title">{{product.name}}</h3>
              <h4>€{{product.price}}</h4>
              <p class="card-text">{{product.description}}</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              4.0 stars
            </div>
          </div>
          <!-- /.card -->
          
          <div>
            <form action="{% url 'add_to_cart' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{product.id}}"/>
              <input type="hidden" name="quantity" value="1"/>
              <input class="btn btn-success" type="submit" value="Add To Cart"/>
            </form>
          </div>
          
          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              <h2>Product Reviews</h2>
            </div>
            <div class="card-body">

              {% for review in product.reviews_received.all %}
              <p>{{review.content}}</p>
              <small class="text-muted">Posted by {{review.reviewer.username}}</small>
              <hr>
              {%endfor%}
              <a href="#" class="btn btn-success">Leave a Review</a>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
{% endblock content %}
